.bestseller{

	padding: 50px 0 100px 0;

	&__title{
		margin-bottom: 40px;
	}

	&__content{
		text-align: center;
		margin-bottom: 50px;
	}

	&__list{
		display: flex;
		justify-content: space-between;
	}

	&__item{
		text-align: center;
		border: 1px solid grey;
		margin-right: 30px;

		&:last-child{
			margin-right:0;
		}

		&.active{
			.bestseller__price{

				background: red;

				&-count{
					span{
						color: white;
					}

					color: white;
				}
			}
			.button {
				background: red;
				color: white;
				transition: .5s;

				&:hover{
					background: grey;
				}
			}
		}
	}

	&__name{
		background: black;
		padding: 15px 85px;
		font-family: Raleway;
		color:  #ffffff;
		font-size: 20px;/* Приближение из-за подстановки шрифтов */
		font-weight: 500;
		text-transform: uppercase;
	}

	&__price{
		background: #f2f2f2;
		padding: 20px 50px;


		&-count{
			font-family: Lato;
			color:  #262626;
			font-size: 49.99px;/* Приближение из-за подстановки шрифтов */
			font-weight: 900;

			span{
				font-family: Lato;
				color:  #262626;
				font-size: 16px;/* Приближение из-за подстановки шрифтов */
				font-weight: 400;
			}
		}
	}
}