.follow{
	background: url(../img/follow/follow-bg.png)center top no-repeat;
	padding: 100px 0;

	&__title{
		margin-bottom: 50px;
	}

	&__list{
		display: flex;
		justify-content: center;
	}

	&__item{
		padding-right: 45px;

		&:last-child{
			padding-right: 0;
		}
	}

	&__link{
		padding: 25px;
		border: 1px solid red;
		border-radius: 5px;
		transition: .5s;

		&:hover{
			background:white;
			border:1px solid white;
		}
	}
	
	&__icon{
		width: 15px;
		height: 17px;
	}
	
}