.socials{

	&__list{
		display: flex;
	}

	&__item{
		padding-right: 20px;

		&:last-child{
			padding-right: 0;	
		}
	}

	&__link{
		padding: 10px;
		background: white;
	}

	&__icon{
		width: 15px;
		height: 15px;
		text-align: center;
	}
}