.tech{
	background: #222223;
	padding: 50px 0;

	&__content{
		text-align: center;
		margin-bottom: 50px;
	}

	&__list{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item{
		width: 50%;
		padding-bottom: 50px;
		padding-right: 30px;

		&:nth-child(5){
			padding-bottom: 0;
		}

		&:nth-child(6){
			padding-bottom: 0;
		}

		&:nth-child(2n){
			padding-right: 0;
		}

	}

	&__row{
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}

	&__icon{
		padding: 5px;
		border-radius: 10px;
		background: grey;
		margin-right: 33px;
	}

	&__name{
		font-family: Raleway;
		color:  #ffffff;
		font-size: 20px;/* Приближение из-за подстановки шрифтов */
		font-weight: 500;
		text-transform: uppercase;
	}

	&__desc{
		font-family: Lato;
		color:  #a5a5a5;
		font-size: 16px;/* Приближение из-за подстановки шрифтов */
		font-weight: 400;
		line-height: 22px;
		background-color:  #313131;
		padding: 15px;
	}
}